@import url(https://fonts.googleapis.com/css?family=Abel);
html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	margin: 0;
	padding: 0;
	background: #eee;
	position: absolute;
	width: 100%;
	height: 100%;
}
#screen {
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #1976d2;
  background: linear-gradient(145deg,#0d47a1,#42a5f5);
	overflow: hidden;
	user-select: none;
	cursor: default;
}
#tree {
	display: none;
}
#btn {
	position:fixed;
	right:0;
	bottom:0;
	z-index: 10;
}
